/*
    Title:  INFT1206 Week 5 Demo 2
    Author: Clint MacDonald
    Date:   June 4, 2024
    Purpose: Learning Page Layout with HTML5 and CSS3

*/

body {
    background-color: #222222;
    color: lightgray;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: url("TechProfBanner.png");
    background-size: contain;
    width: 900px;
    min-height: 260px;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

header a {
    color: lightgray;
    text-decoration: none;
    
}

header a:hover {
    color: #ffcc00;
    text-decoration: underline;
}


#MainContainer {
    width: 900px;
    margin: 0px auto 0px auto;
    padding: 0px;
    border: 1px #555555 solid;
}

/* NAV */
nav {
    margin: 0px;
    width: 100%;
    padding: 0px;
    background-color: #040F16;
}

nav ul {
    list-style: none;
    height: 30px;
    margin: 0px;
    /* background-color: red; */
}

nav li {
    height: 16px;
    background-color: #040F16;
    padding: 7px;
    float: left;
    width: 120px;
    text-align: center;
    border-left: 1px #002E4C solid;
    border-right: 1px #002E4C solid;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li:hover {
    background-color: #005E7C;
}

aside {
    background-color: #040F16;
    width: 200px;
    float: left;
    padding: 5px 10px;
    margin: 10px 10px 0px;
    border-radius: 20px;
    border: 1px solid #005E7C;

}
aside h1 {
    margin-top: 0px;
}

#MainContent {
    margin-left: 240px;
    min-height: 300px;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #040F16;
    height: 70px;
    vertical-align: middle;
    padding-top: 30px;
}

footer a {
    color: #0094C6;
    text-decoration: none;
}

footer a:hover {
    color: #005E7C;
}